<%= stylesheet_link_tag    "masonry/masonry" %>
<div class="row">
	<div class="action_body">
		<div class="span5 one-edge-shadow">
				<%= image_tag "webpage/earn_button.png", :alt => "earn button"%>
		</div>
		<div class="span5 one-edge-shadow">
				<%= link_to image_tag("webpage/practice_button.png", :alt => "practice button"), :language %>
			</div>
		</div>	
	</div>
</div>
