<div>

	<div class="action_body">

		<div class="row">
			<%= link_to image_tag("webpage/buy_credit.png", :alt => "buy credits button", :class=>"one-edge-shadow"), :paypal_billing %>
			<br /> <br />
		</div>

	<% if current_user.credits > 0 %>
		<div class="row">
				<%= link_to image_tag("webpage/schedule_conversation.png", :alt => "schedule button", :class=>"one-edge-shadow"), new_schedule_path %>
				<br /> <br />
		</div>
	<% end %>
	<% if @schedule %>
		<div class="row">
			<% if current_user.credits > 0 %>
				<%= link_to image_tag("webpage/practice_now.png", :alt => "practice button", :class=>"one-edge-shadow", :onclick=>"simpleRedirect(currentUserId,'#{@schedule.id}');"), "#myModal", "data-toggle"=>"modal", "data-backdrop"=>"static", "data-keyboard"=>"false" %>
			<% else %>
				<div class="alert alert-error" style="width: 29%; margin: auto;">
					<p><strong>We're sorry!</strong> You don't have credits to enter your scheduled session.</p>
				</div>
			<% end %>	
			<br /> <br />
		</div>
	<% end %>
	</div>
</div>

<div id="data_holder" data-user-id="<%=current_user.id%>" >
</div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <h3>Please wait</h3>
  </div>
  <div class="modal-body" style="text-align: center;">
    <p id="modal_message">Connecting…</p>
		<div style="width: 45%; margin: auto;">
			<div id="modal_prog_bar" class="progress progress-striped">
				<div id="modal_progress" class="bar" style="width: 100%;"></div>
			</div>
		</div>
		<p id="modal_wait_message"></p>
	</div>
	<div class="modal-footer" style="text-align: center;">
		<a id="modal_button_close" href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>


<script type="text/javascript">
		
	var currentUserId = $("#data_holder")[0].getAttribute("data-user-id");
	
</script>
