<form action="join_conversation_room/1" method="post"> 
  <p> Session: <input type="text" name="session" id="session" />
	</p>
	<p>	Topic id: <input type="text" name="topic_id" id="topic_id" />
	</p>
	<%= submit_tag 'Submit' %>
</form>

