<script type="text/javascript">

	var session = TB.initSession('<%= @session %>');
	session.addEventListener('sessionConnected', sessionConnectedHandler);
  session.addEventListener('streamCreated', streamCreatedHandler); 
	session.connect(<%= @api_key %>, "devtoken");

	var publisher;

	function sessionConnectedHandler(event) {
      publisher = TB.initPublisher('myPublisherDiv');
      session.publish(publisher);
      subscribeToStreams(event.streams);
    }

	function subscribeToStreams(streams) {
    for (i = 0; i < streams.length; i++) {
        var stream = streams[i];
        if (stream.connection.connectionId != session.connection.connectionId) {
						$('#waitingDiv').remove();
						var div = document.createElement('div');
        		div.setAttribute('id', 'stream' + streams[i].streamId);
        		publisherDiv = document.getElementById("myPublisherDiv");
						document.body.insertBefore(div, publisherDiv);                   
        		session.subscribe(stream, div.id, {width: 380, height: 285});
        }
    }
	}

	function streamCreatedHandler(event) {
    subscribeToStreams(event.streams);
	}
		

</script>
<%= Topic.find(@topic_id).name %>

<div id="myPublisherDiv"></div>
<div id="waitingDiv">
	<%= image_tag "spinner.gif" %>
</div>
