<script type="text/javascript">
    var apiKey = '16363401';
    var sessionId = '2_MX4xMjMyMDgxfjcyLjUuMTY3LjE0OH4yMDEyLTA2LTI4IDAyOjIzOjIyLjk2MzgyOCswMDowMH4wLjU3NTA3MTM0MTI1OH4';
    var token = 'devtoken';           

		TB.setLogLevel(TB.DEBUG);     
 
    var session = TB.initSession(sessionId);      
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);      
    session.connect(apiKey, token);
 
    var publisher;
 
    function sessionConnectedHandler(event) {
      publisher = TB.initPublisher('myPublisherDiv');
      session.publish(publisher);
       
      // Subscribe to streams that were in the session when we connected
      subscribeToStreams(event.streams);
    }
     
    function streamCreatedHandler(event) {
      // Subscribe to any new streams that are created
      subscribeToStreams(event.streams);
    }
     
    function subscribeToStreams(streams) {
      for (var i = 0; i < streams.length; i++) {
        // Make sure we don't subscribe to ourself
        if (streams[i].connection.connectionId == session.connection.connectionId) {
          return;
        } 
        //var br = document.createElement('br');
				//br.insertBefore('myPublisherDiv');
				//document.body.appendChild(br);
        // Create the div to put the subscriber element in to
        var div = document.createElement('div');
        div.setAttribute('id', 'stream' + streams[i].streamId);
        publisherDiv = document.getElementById("myPublisherDiv");
				document.body.insertBefore(div, publisherDiv);                   
        // Subscribe to the stream
        session.subscribe(streams[i], div.id, {width: 380, height: 285});
      }
    }		
		
  </script>

 <div id="myPublisherDiv"></div>
