<script type="text/javascript">

$(function(){
});

</script>
<div class="row">
		<div class="span12">
			<div style="margin: -30px;">
				<div class="landing_header">
					<%= image_tag "webpage/we_are_still_working.png", :alt => "We are still woring on this..."%>
				</div>
			<div style="text-align: center; margin: 15px; height: 400px;">
				<iframe height="100%" allowTransparency="true" frameborder="0" scrolling="yes" style="width:50%;border:none"  src="http://aptesummit.wufoo.com/embed/q7x3q7/" id="iframe"><a href="http://aptesummit.wufoo.com/forms/q7x3q7/">Fill out my Wufoo form!</a></iframe>		
			</div>
			</div>
		</div>	
</div>
