<div class="row">
	<div class="span12">
		<div>
			<div class="landing_header">
				FAQ
			</div>
		</div>
	</div>
	<div class="faq_body moolango-box">
		<div class="moolango-box-inner">
			<p style="font-weight: bold;">1. Is MooLango like a language-exchange site?</p>
			<p> No. Unlike a language-exchange site, you speak only the language you're interested in practicing. It's topic driven too! You talk about the stuff that you like! </p><br/>
			<p style="font-weight: bold;">2. How much does it cost?</p>
			<p> MooLango has three options of 1, 5 or 10 hours of conversation, starting at $14.99 USD.</p><br/>
			<p style="font-weight: bold;">3. Can I try MooLango out before paying?</p>
			<p> Absolutely! You can request a free trial so you can try before you buy.</p><br/>
			<p style="font-weight: bold;">4. If I don't like it... can I get my money back?</p>
			<p> Yes, we have a 100% user satisfaction guarantee.</p><br/>
			<p style="font-weight: bold;">5. How will the native speaker help me improve my conversational skills?</p>
			<p> The native speaker will provide visual aids to facilitate and drive the conversation. In the end you will be evaluated in terms of clarity, pronunciation, fluency, and comprehension.</p><br/>
			<p style="font-weight: bold;">6. What topics are available?</p>
			<p> We currently have 'food', 'the Beatles' and 'Apple' as suggested topics, but you can pick your own topic too.</p><br/>
			<p style="font-weight: bold;">7. Which browser should I use?</p>
			<p> For Windows you can use Internet Explorer 9 or above, Mozilla Firefox or Google Chrome. For Mac, you can use Safari, Mozilla Firefox or Google Chrome.</p><br/>
			<p style="font-weight: bold;">8. Are there any system requirements?</p>
			<p> You will need Adobe Flash installed on your browser. To get the latest version for free, <a class="bold" href="http://get.adobe.com/flashplayer/">click here</a>.</p><br/>
			<p style="font-weight: bold;">9. Can I earn money with MooLango?</p>
			<p> Yes. We are currently letting only native English speakers with exceptional attitude and superb language clarity, so if you think you match those requirements please write us at <a class="bold" href="mailto:hello@moolango.com">hello@moolango.com</a>.</p><br/>
			<p style="font-weight: bold;">10. Is MooLango available for mobile devices?</p>
			<p> No. MooLango is currently available via web browsers only.</p><br/>
		</div>
	</div>
</div>
<br/> <br/>
<br/> <br/>
