<div class="row">
	<div class="span6">
		<div class="landing_left_hemisphere">
			<iframe src="http://player.vimeo.com/video/46380365?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="84%" height="110%" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<div class="span6">
		<div class="landing_right_hemisphere">
			<h1 class="landing_header">
				ENJOYABLE, AFFORDABLE, <br /> INSTANT LANGUAGE PRACTICE <br /> ABOUT STUFF YOU LOVE
			</h1>
			<div class="landing_body">
			<%= image_tag "webpage/ohyeah.png", :alt => "...oh yeah, and you can make money speaking your language too..." %>
			</div>
			<div style="width: 100%;">
				<div class="landing_begin_button">
					<%= link_to image_tag("webpage/begin_button.png", :alt => "Begin button"), :signup %>
				</div>
			</div>
		</div>
	</div>	
</div>
