<div class="row">
	<div class="span6">
		<div class="landing_left_hemisphere">
			<iframe src="http://player.vimeo.com/video/46380365?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="76%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<div class="span6">
		<div class="landing_right_hemisphere">
			<div class="moolango-box">
				<div class="moolango-box-inner">
					<h2 class="landing_header" style="text-align: left;">
						Practice with native speakers
					</h2>
					<br />
					<div class="body_text">
						<p> Language practice should be fun! Talk about stuff that you love. </p>
					</div>
					<div class="landing_get_started_button" onclick="window.open('<%= signup_url %>', '_self');">
						<div class="get_started_button">
							<%= link_to "GET STARTED!", :signup %>
						</div>
					</div>
				</div>
			</div>
			<br /> <br /> <br />
			<div class="moolango-box">
				<div class="moolango-box-inner">
					<h2 class="landing_header" style="text-align: left;">
						Become an associate
					</h2>
					<br />
					<div class="body_text">
						<p> You can make money speaking your language too! </p>
					</div>
					<div class="landing_get_started_button" onclick="window.open('<%= new_earner_form_path %>', '_self');">
						<div class="get_started_button">
							<%= link_to "GET YOUR INVITE!", new_earner_form_path %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
