<div class="row">
		<div class="span3">
			<div style="width: 200px; height: 100px; background-color: blue;">
				Moolango
			</div>
		</div>
		<div class="span5">
			<div style="width: 450px; height: 100px; background-color: orange;">
				Make some Moola speaking your lango!
			</div>
		</div>
		<div class="span3">
			<div class="row no-space">
				<div style="width: 300px; height: 100px; background-color: red;">
					<div class="span1">
						<div style="width:50px; height: 50px; background-color: blue; margin-top: 20px;">
						TWI
						</div>
					</div>
					<div class="span1">
						<div style="width:50px; height: 50px; background-color: white; margin-top: 20px;">
						FAC
						</div>
					</div>
					<div class="span1">
						<div style="width:50px; height: 50px; background-color: yellow; margin-top: 20px;">
						BLO
						</div>
					</div>
					<div class="span1">
						<div style="width:70px; height: 70px; background-color: magenta; margin-top: 20px;">
						ACCT
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span6 offset3">
			<div style="width: 450px; height: 100px; background-color: yellow;">
				CHILL
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset1">
			<div style="width: 900px; height: 300px; background-color: green;">
				<div class="row-fluid">
					<div class="span2">
						<div style="width: 130px; height: 130px; background-color: white; text-align: center;">
							SPANISH
						</div>
					</div>
					<div class="span2">
						<div style="width: 130px; height: 130px; background-color: grey; text-align: center;">
							ENGLISH
						</div>
					</div>
					<div class="span2">
						<div style="width: 130px; height: 130px; background-color: white; text-align: center;">
						PORTUGUESE
						</div>
					</div>
					<div class="span2">
						<div style="width: 130px; height: 130px; background-color: grey; text-align: center;">
							CHINESE
						</div>
					</div>
					<div class="span2">
						<div style="width: 130px; height: 130px; background-color: white; text-align: center;">
							FRENCH
						</div>
					</div>
					<div class="span2">
						<div style="width: 130px; height: 130px; background-color: white; text-align: center;">
							JAPANESE
						</div>
					</div>
				</div>	
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="span6 offset1">
			<div style="background-color:red; width: 850px; height: 350px; margin-top: -200px; z-index:-1; position: relative;">
			</div>
		</div>
	</div>

