<div class="row">
	<div class="span6 offset3">
		<div style="height: 80px;">
		<%= image_tag "webpage/language_to_practice.png", :alt => "click on the language to begin"%>
		</div>
	</div>
</div>
<div class="row">
	<div class="span8 offset1">
		<div style="width: 120%;">
			<div class="row-fluid">
				<% Language.all.each do |language| %>
					<div class="span2">
						<%= link_to (image_tag language.thumbnail_url, :alt => language.name), "topics_list?id=#{language.id}" %>
					</div>
				<% end %>
			</div>	
		</div>			
	</div>
</div>
