<!-- TO BE DELETED, THANK YOU PATH BROKEN. ONLY VALUABLE IF WE DO SURVEYS BETWEEN TOPICS AGAIN-->
<div class="earner_body">
	<br />
	<div class="contact_soon_body moolango-box">
		<div class="moolango-box-inner">
			<h3>
				Thanks for your help!
			</h3>
			<br />
			<p>
				We really appreciate your time and feedback. We'll keep you updated with our progress!
			</p>
		</div>
		<br />
	</div>
</div>
