<% @title_desc = "Topics List" %>
	
	<div>
		<div style="height: 80px; text-align: center;">
			<%= image_tag "webpage/click_on_the_image.png", :alt => "click on the image to pick a topic"%>
		</div>
		
		<div id="content" class="centered">
			
			<% @topics.each do |topic| %>
				<div class="box one-edge-shadow">
					<%= link_to image_tag(topic.thumbnail_url, :onclick=>"topicOpen(#{topic.id}, currentUserId, pusherKey);" ), "#myModal", "data-toggle"=>"modal", "data-backdrop"=>"static", "data-keyboard"=>"false" %>
				</div>
			<% end %>

	<div id="data_holder" data-user-id="<%=current_user.id%>" data-pusher-key="<%=ENV['PUSHER_KEY']%>" >
	</div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" onclick="windowClose();">×</button>
    <h3>Please wait</h3>
  </div>
  <div class="modal-body" style="text-align: center;">
    <p id="modal_message">Searching for someone to practice with…</p>
		<div style="width: 45%; margin: auto;">
			<div id="modal_prog_bar" class="progress progress-striped">
  			<div id="modal_progress" class="bar" style="width: 100%;"></div>
			</div>
  	</div>
	</div>
  <div class="modal-footer" style="text-align: center;">
    <a id="modal_button_close" href="#" class="btn" data-dismiss="modal" onclick="windowClose();">Close</a>
    <a id="modal_button_accept" href="#" class="btn btn-success">Talk now</a>
  </div>
</div>

<script type="text/javascript">

	var currentUserId = $("#data_holder")[0].getAttribute("data-user-id");
	var pusherKey = $("#data_holder")[0].getAttribute("data-pusher-key");

	$(function(){
				var $container = $('#content');
				$container.imagesLoaded(function(){
				$container.masonry({
				itemSelector : '.box',
				gutterWidth: 5,
				isFitWidth: true
			});
		});
	});
	
</script>
