<script type="text/javascript">
	var stream;
	var session = TB.initSession("2_MX4xNjUyMzYzMX4xMjcuMC4wLjF-VGh1IEF1ZyAwMiAxODowNDowMCBQRFQgMjAxMn4wLjEwNjcxNDM3fg");
	var publisherProperties = new Object();
	var api_key = "16523631";
	var token = "T1==cGFydG5lcl9pZD0xNjUyMzYzMSZzaWc9ZDI3N2RkMzI5ZTM0MDEwZTg1Y2ExNWQyZjgxYmEzNGVmMThjZDUwZTpyb2xlPW1vZGVyYXRvciZzZXNzaW9uX2lkPTJfTVg0eE5qVXlNell6TVg0eE1qY3VNQzR3TGpGLVZHaDFJRUYxWnlBd01pQXhPRG93TkRvd01DQlFSRlFnTWpBeE1uNHdMakV3TmpjeE5ETTNmZyZjcmVhdGVfdGltZT0xMzQzOTU1ODMwJm5vbmNlPTAuNTU2MDUwNzcwNjA2MjQ2Ng==";
	var archive_id;
	var archive;
	
	/*$(function(){
		connect();
	});	
	
	function connect() {
		session.addEventListener('sessionConnected', sessionConnectedHandler);
		session.addEventListener('streamCreated', streamCreatedHandler); 
		session.addEventListener("archiveLoaded", archiveLoadedHandler);
		TB.addEventListener("exception", function(event){alert(event.message)});
		session.connect(api_key, token);
	}
	
	function sessionConnectedHandler(event) {
		alert('connect');
		session.loadArchive(archive_id); // You will need to store this.
	}

	function archiveLoadedHandler(event) {
		alert('loaded: ' + event.archives.length);
		archive = event.archives[0];
		archive.startPlayback();
	}

	function streamCreatedHandler(event) {
		alert('stream');
		for (i = 0; i < event.streams.length; i++) {
			if (event.streams[i].type == "archive") {
				subscribeToStream(event.streams[i]);
			}
		}
	}

	function subscribeToStream(stream) {
		var replacementDiv = document.createElement('div');
		$('#publisherDiv').append(replacementDiv); // Just an example.
		session.subscribe(stream);
	}*/
</script>

<div id="publisherDiv" style="position:relative;">
	<div class="row">
		<div class="span4">
			<% @urls.each do |url| %>
				<p><%= url %></p><br/>
			<% end %>
		</div>
	</div>
	<p>token: <%= @token %></p><br/>
	<p>address: <%= @address %></p><br/>
</div>