<script type="text/javascript">

</script>

<div id="publisherDiv" style="position:relative;">
	<div class="row">
		<div class="span4">
			<% @urls.each do |url| %>
				<p><%= url %></p><br/>
			<% end %>
			<p>result: <%= @result %></p><br/>
		</div>
	</div>
	<p>token: <%= @token %></p><br/>
	<p>address: <%= @address %></p><br/>
</div>