<div class="earner_body">
	<br />
	<div class="contact_soon_body moolango-box">
		<div class="moolango-box-inner">
			<h3>
				<%= I18n.t 'thanks', :scope => :after_booked_conversation %>
			</h3>
			<br />
			<p>
				<%= I18n.t 'details', :scope => :after_booked_conversation %>
			</p>
			<p>
				<%= I18n.t 'write_us', :scope => :after_booked_conversation %>
			</p>
			<br /> <br />
			<div class="row">
				<div class="span2">&nbsp;</div>
					<div style="margin: auto; ">
						<div class="contact_soon_button" onclick="window.open('/', '_self');">
						<div class="contact_soon_button_text">
							<%= link_to "#{I18n.t 'home', :scope => :tooltips}", :root %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
	</div>
</div>
