<div class="earner_body">
	<br />
	<div class="contact_soon_body moolango-box">
		<div class="moolango-box-inner">
			<h3>
				Thanks for booking a conversation!
			</h3>
			<br />
			<p>
				The details have been sent to you via e-mail.
			</p>
			<p>
				Feel free to write us at hello@moolango.com if you have any questions.
			</p>
			<br /> <br />
			<div class="row">
				<div class="span2">&nbsp;</div>
					<div style="margin: auto; ">
						<div class="contact_soon_button" onclick="window.open('/', '_self');">
						<div class="contact_soon_button_text">
							<%= link_to "BACK", :root %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br />
	</div>
</div>