			<div class="landing_header">
				<%= image_tag "webpage/schedule_a_conversation.png", :alt => "schedule a conversation"%>
			</div>
			<br /><br />
			<div class="span8 offset2 moolango-box" >
				<div style="margin: 15px;">
					<table class="table table-bordered" style="background-color: white;" >
						<thead>
							<tr style="background-color: #9bd8f7; color: white;">
								<th>When</th>
								<th>Topic</th>
								<th>Duration</th>
								<th>Language</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody style="color: #3c89bd;">
							<tr style="">
								<!-- s.when.in_time_zone("Eastern Time (US & Canada)").strftime("%A %b %d, %Y %H:%M %Z") -->
								<td> Thursday Dec 20, 2012 18:00 EST </td>
								<td> Teenage Mutant Ninja Turtles	</td>
								<td> 60 minutes	</td>
								<td> English	</td>
								<td class="orange-link"> <%= link_to "ENTER HERE", "/" %></td>
							</tr>
							<tr style="background-color: #d4effa">
								<td> Saturday Dec 22, 2012 20:00 EST	</td>
								<td> Chuck Norris	</td>
								<td> 30 minutes	</td>
								<td> English	</td>
								<td> Room not yet ready</td>
							</tr>
							<tr style="">
								<td> &nbsp;</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
							<tr style="background-color: #d4effa">
								<td> &nbsp;</td>
								<td> </td>
								<td> </td>
								<td> </td>
								<td> </td>
							</tr>
						</tbody>
					</table>
					<button class="next_button" style="float: right; margin-bottom: 15px;">Book a conversation</button>
				</div>
			</div>
