/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 //= require bootstrap_and_overrides
 //= require masonry/topics
*/

#content {
	width: 100%;
}

#content img{
	margin-top: 10px;
	max-width: 250px;
}

.box {
	float: none;
	display: none;
	width: 250px;
}

.box_shell {
	width: 100%;
}

.box_shell img {
	width: 100%;
	border: 1px solid #ccc;
}

.box_details {
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	text-align: center;
}

.centered { 
	margin: 0 auto 45px; 
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -4px grey;
	   -moz-box-shadow: 0 8px 6px -4px grey;
	        box-shadow: 0 8px 6px -4px grey;
}
