<p>
	<%= @user.firstname %>, thank you for your purchase!
</p>
<br />
<p>
	Your reference number is: <%= @reference %> for a total amount of $<%= @amount %>.
</p>
<p>
	Please save this as a record for your transaction.	
</p>
<br />
<p>	Thank you again, </p>
<p> The MooLango Team</p>

