<p>
	Topic: <%= @topic %>
</p>
<p>
	<%= link_to "Join room", "http://moolango.herokuapp.com/join_conversation_room/1?session=#{@token}&topic_id=#{@topic}&user=#{@user}" %>
</p>
<p>
	Session token: <%= @token %>
</p>
