<div class="earner_body">
	<br />
	<div class="contact_soon_body">
		<h3>
			Thanks for signing up!
		</h3>
		<br />
		<p>
			We'll be in contact with you shortly.
		</p>
		<p>
			In the meantime, you can practice a language with MooLango!
		</p>
		<br /> <br />
		<div class="row">
			<div class="span2">&nbsp;</div>
			<div style="margin: auto; ">
			<div class="span1 contact_soon_button" onclick="window.open('<%= root_path %>', '_self');">
				<div class="contact_soon_button_text">
					<%= link_to "BACK", :root %>
				</div>
			</div>
			<div class="span1 contact_soon_button" style="margin-left: 50px;" onclick="window.open('<%= root_path %>', '_self');">
				<div class="contact_soon_button_text">
					<%= link_to "GO PRACTICE", :language_selection %>
				</div>
			</div>
		</div>
		</div>
		<br />
	</div>
</div>
