<div class="earner_body">
	<br />
	<div class="contact_soon_body moolango-box">
		<div class="moolango-box-inner">
			<h3>
				Thank you for your purchase!
			</h3>
			<br/>
			<div>
				Your reference number is: <div style="font-weight: bold; font-size: 14px; display: inline-block;"><%= @valores['PNREF'] %></div> for a total amount of <div style="font-weight: bold; font-size: 14px; display: inline-block;">$<%= @valores['AMT'] %></div>.
			</div><br/>
			<div> You will receive this same confirmation via e-mail. </div>
			<div> Please save it as a record for your transaction. </div><br/>
			<div>
				<p>	Thank you again, </p>
				<p> The MooLango Team</p>
			</div>
		<br/>
		<div style="text-align: center; margin: auto;"><%= button_tag "Home", :type => 'button', :class => "next_button",  :onclick => "location.href = '/action'" %> </div>	
		</div>
		<br />
	</div>
</div>
