// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-image: url('background.png');
}

.title{
	height: 90px;
	width: 100%;
}

.title_image{
	background-image: url('header.png');
	height: 50px;
	width: 100%;
}

#waitingDiv{
	height: 285px;
	width: 380px;
	text-align: center;
	margin: auto;
	color: #CCCCCC;
	background-color: #000000;
	float: right;
}

#waitingDivGone{
	height: 285px;
	width: 380px;
	text-align: center;
	margin: auto;
	color: #CCCCCC;
	background-color: #000000;
	float: right;
}

#slideDiv{
	width: 427px;
	height: 356px;
	margin: auto;
	background-color: white;
}

#slideImageDiv{
	width: 427px;
	height: 286px;
	margin: auto;
	background-color: red;
}

#slideTextDiv{
	width: 427px;
	height: 70px;
	margin: auto;
	background-color: white;
}

#outerPublisherDiv{
	height: 220px;
	width: 380px;
	text-align: center;
	margin: auto;
	float: right;
}

#publisherDiv{
	width: 265px;
	height: 200px;
	float: right;
	margin: -40px 0 0 0;
}

#chatDiv{
	width: 427px;
	height: 220px;
	margin: auto;
}

ul#chat {
  list-style: none;
	background-color: #FFFFFF;
  padding: 0;
  width: 100%;
  height: 110px;
  border: solid 1px #777;
  margin: 10px 0;
  overflow: auto;
}

ul#chat li {
  margin: 2px 5px;
  padding: 0;
}

.no-space [class*="span"] {
  margin-left: 0;
}

.fixed-space[class*="span"] {
	margin-left: 10px;
}
