// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
margin: 0;
}

a:link {text-decoration: none; color: white;}
a:visited {text-decoration: none; color: white;}
a:active {text-decoration: none; color: white;}
a:hover {text-decoration: underline; color: white;}

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #9bd7f4;
	height: 95%;
	width: 95%;
	background-attachment: fixed; 
	background-image: url("/assets/webpage/globe_2.gif"); 
	background-repeat: no-repeat; 
	background-position: bottom;
}

.faq_body{
	margin: 15px auto auto auto;
	width: 55%;
	color: #FFFFFF;
	overflow: auto;
}

.bold{
	font-weight: bold;
}

iframe {
	border: 0;

  -moz-box-shadow: 3px 4px 4px #777; 
  -webkit-box-shadow: 3px 4px 4px #777; 
  box-shadow: 3px 4px 4px #777;
}

.about_text_container{
	height: 100%;
	width: 150px;
	background-color: #fc9d47;
	float: right;
	margin-left: 10px;
	background-color:rgba(252,157,71,.90);-moz-box-shadow:3px 4px 4px #777;
	-webkit-box-shadow:3px 4px 4px #777;box-shadow: 3px 4px 4px #777;border:none;
}

.about_name_container{
	height:30px;
	width: 95px;
	background-color: #71beec;
	margin-top: -17px;
}

.about_name_text{
	color: white;
	font-size: 18px;
	font-weight: bold;
	margin-left:5px;
	padding-top: 5px;
}

.about_info_text{
	color: white;
	font-size: 11px;
	font-weight: bold;
	margin: 0 5px 5px 5px;
}

.about_image_container{
	height: 140px;
	width: 140px;
	background-color: #ffffff;
	float: right;
}

.moolango-box{
	background-color: #71beec;
	overflow:hidden;background-color:rgba(113,190,236,.90);-moz-box-shadow:3px 4px 4px #777;
	-webkit-box-shadow:3px 4px 4px #777;box-shadow: 3px 4px 4px #777;border:none;
}

//.moolango-box:hover{
//	background-color:#303433;background-color:rgba(255,255,255,.06);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.8);
//	-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.8);box-shadow:inset 0 0 16px rgba(255,255,255,.12);
//}

.moolango-box-inner{
	margin: 5px 10px 5px 10px;
}

.come_later_body{
	margin: 15px auto auto auto;
	width: 55%;
	height: 70%;
	background-color: #71BEEC;
	color: #FFFFFF;
}

.center_bold{
	text-align: center;
	font-weight: bold;
}

.left_bold{
	text-align: left;
	font-weight: bold;
}

.padding{
	padding-top: 130px;
}

.header {
	height: 150px;
	margin-top: 20px;	
}

.footer, .push {
	background-image: url("/assets/webpage/footer.png");
	height: 37px;
	text-align: left;
	width: 105%;
	margin: 0 0 0 -19px;
}

.footerText{
	padding: 12px 0 5px 10px;
	color: #FFFFFF;
	font-family: "Arial";
	font-size: 16px;
}

.next_button{
	background-image: url("webpage/next_button.gif");
  border: medium none;
	margin-bottom: 7px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  min-height: 43px;
  min-width: 190px;
}

.next_button_small{
	background-image: url("webpage/next_button.gif");
  border: medium none;
	margin-bottom: 7px;
  color: #FFFFFF;
  font-size: 14px;
  min-height: 35px;
  min-width: 110px;
}

.sheight[class*="container"] {
	min-height: 98%;
	height: auto !important;
	height: 100%;
	margin: -130px auto -30px;
}

.landing_background_image{
	z-index:-1;
}

.body_text{
	color: #ffffff;
	font-family: "Arial";
	font-weight: bold;
	font-size: 16px;
}

.landing_header{
	color: #ffffff;
	font-family: "Arial";
	font-weight: bold;
	text-align: center;
}

.signup_header{
	color: #FFFFFF;
	font-family: "Arial";
	font-weight: bold;
	text-align: left;
	margin: 0 0 20px 50px;
}

.landing_body{
	height: 60px;
	margin-top: 35px;
	text-align: center;
}

.signup_labels{
	margin: 1px 0 10px 5px;
	float: left;
}

.signup_body{
	width: 100%;
	text-align: left;
	margin: 30px 0 0 50px;
}

.landing_get_started_button{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	height: 43px;
  width: 190px;
	float: right;
	cursor: pointer;
}

.landing_get_started_button a:link {color:#FFFFFF; text-decoration: none;}
.landing_get_started_button a:visited {color:#FFFFFF; text-decoration: none;}
.landing_get_started_button a:hover {color:#FFFFFF; text-decoration: none;}
.landing_get_started_button a:active {color:#FFFFFF; text-decoration: none;}

.get_started_button{
	background-image: url("webpage/next_button.gif");
	border: medium none;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 7px;
	min-height: 33px;
	min-width: 190px;
	padding-top: 15px;
}

.action_body{
	margin: auto;
	height: 200px;
	text-align: center;
}

.landing_next_button{
	margin: 20px auto auto 50px;
  text-align: right;
  width: 56%;
}

.landing_background_image{
	width: 95%;
	z-index:-1;
	position: relative;
}

.nav_buttons{
	width:100%;
	height: 50px;
	margin-top: 20px;
}

.login_button{
  height: 70px;
  width: 150%;	
}

.logout_button{
	height: 50%;
	margin: -43% 0 0 78%;
	width: 50%;
}

.login_text{
	color: #FFFFFF;
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  margin: -60% auto auto 15%;
  text-align: center;
	cursor: pointer;
}

.login_text a:link {color:#FFFFFF; text-decoration: none;}
.login_text a:visited {color:#FFFFFF; text-decoration: none;}
.login_text a:hover {color:#FFFFFF; text-decoration: none;}
.login_text a:active {color:#FFFFFF; text-decoration: none;}

.account_text{
	color: #FFFFFF;
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  margin: -50% auto auto 10%;
  text-align: center;
}
.account_text a:link {color:#FFFFFF; text-decoration: none;}
.account_text a:visited {color:#FFFFFF; text-decoration: none;}
.account_text a:hover {color:#FFFFFF; text-decoration: none; cursor: default;}
.account_text a:active {color:#FFFFFF; text-decoration: none;}

.landing_left_hemisphere{
	width: 95%; 
	height: 300px;
	margin-left: 100px;
}

.landing_right_hemisphere{
	width: 100%; 
	height: 300px;
}

.no-space [class*="span"] {
  margin-left: 0;
}

.fixed-space[class*="span"] {
	margin-left: 10px;
}

.one-edge-shadow {
	-webkit-box-shadow: 2px 2px 4px grey;
	   -moz-box-shadow: 2px 2px 4px grey;
	        box-shadow: 2px 2px 4px grey;
}

.one-edge-shadow-selected {
	-webkit-box-shadow: 0 0 6px 4px yellow;
	   -moz-box-shadow: 0 0 6px 4px yellow;
	        box-shadow: 0 0 6px 4px yellow;
					filter: progid:DXImageTransform.Microsoft.Shadow(color='yellow', Direction=70, Strength=3);
}

.upgrade-link a:link {color:#0000FF; }
.upgrade-link a:visited {color:#0000FF;}
.upgrade-link a:hover {color:#0000FF; }
.upgrade-link a:active {color:#0000FF;}
