// Place all the styles related to the EarnerForms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.earner_body{
	margin: 15px auto auto auto;
	width: 55%;
	height: 450px;
	color: #FFFFFF;
	overflow: auto;
}

.earner_info{
	width: 75%;
	margin: auto;
	text-align: center;
  font-weight: bold;
}

.contact_soon_body{
	text-align: center;
	font-weight: bold;
}

.earner_form{
	margin: auto;
	height: 50%;
	width: 65%;
}

.earner_form_questions{
	float: left;
}

.contact_soon_button{
	margin: auto;
	width: 170px;
	height: 30px;
	background-image: url('/assets/webpage/next_button.gif');
	cursor: pointer;
}

.contact_soon_button_text{
	padding-top: 5px;
}

.contact_soon_button_text a:link {color:#FFFFFF; text-decoration: none;}
.contact_soon_button_text a:visited {color:#FFFFFF; text-decoration: none;}
.contact_soon_button_text a:hover {color:#FFFFFF; text-decoration: none;}
.contact_soon_button_text a:active {color:#FFFFFF; text-decoration: none;}

