// Place all the styles related to the Paypall controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.selection_body{
	margin: 15px auto auto auto;
	width: 35%;
	height: 20%;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;	
}

.billing_body{
	margin: 15px auto auto auto;
	width: 50%;
	color: #FFFFFF;
	height: 50%;
}
