// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.linkText{
	color: #FFFFFF;
	font-family: "Arial";
	font-weight: bold;
	font-size: 16px;
}
