<!DOCTYPE html>
<html>
<head>
  <title>Moolango</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container sheight">
	<%= yield %>
</div>
</body>
</html>
